<VirtualHost *:80>
    ServerName {{ vhost }}.{{ host }}
    RedirectMatch permanent "^/((?!\.well-known/acme-challenge/).*)" https://{{ vhost }}.{{ host }}/$1
    Alias /.well-known/acme-challenge /srv/http/challenges
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ vhost }}.{{ host }}
    DocumentRoot {% if root_path is defined %}{{ root_path }}{% else %}/srv/http/{{ root_dir }}{% endif %}

    SSLEngine on
    SSLCertificateFile /etc/ssl/{{ vhost }}.{{ host }}.crt
    SSLCertificateKeyFile /etc/ssl/{{ vhost }}.{{ host }}.key
    ErrorLog "/var/log/httpd/error_{{ vhost }}.{{ host }}.log"
    CustomLog "/var/log/httpd/access_{{ vhost }}.{{ host }}.log" common

{% for alias in aliases %}
    ServerAlias {{ alias }}
{% endfor %}
{% for setting in additional_settings %}
    {{ setting }}
{% endfor %}

    Alias /.well-known/acme-challenge /srv/http/challenges

    <Directory {% if root_path is defined %}{{ root_path }}{% else %}/srv/http/{{ root_dir }}{% endif %}>
        Options {{ options }}
        AllowOverride {{ allow_override }}
        Require all granted
{% for setting in docroot_additional_settings %}
        {{ setting }}
{% endfor %}
    </Directory>

    <Directory /srv/http/challenges>
        Options None
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>
